.mat-list-item {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    
}

.mat-list-item-content {
    justify-content: right;
}

table {
    width: 100%;
  }

  .mat-card{
    background-color:#ff9800;
    padding:5px !important;
  }

  